<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">


</head>

<body>
    <style>
        .t {
            text-align: center;
        }

        body {
            font-family: 'Germania One', cursive;
            font-size: 34px;
            color: black;
            text-shadow: 4px 4px 4px #aaa;
            background: url(" https://img5.goodfon.com/wallpaper/nbig/2/2f/shane-molina-by-shane-molina-trophy-stormtrooper-first-order.jpg ") no-repeat center top fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
    <div>
        <h2 class="t">
            <%= titulo %>
        </h2>
        <br>
        <p>Opening:
            <%=resumo%>
        </p>

    </div>


</body>

</html>